
__pycache__/main.cpython-39.pyc
__pycache__/llm.cpython-39.pyc
javascript code to read pdf and send to webservice.txt
Untitled-2023-05-16-2116.excalidraw
__pycache__/control.cpython-39.pyc
__pycache__/control.cpython-39.pyc
__pycache__/control.cpython-39.pyc
__pycache__/control.cpython-39.pyc
__pycache__/llm-query.cpython-39.pyc
*.pyc
__pycache__/control.cpython-39.pyc
__pycache__/control.cpython-39.pyc
__pycache__/llm-query.cpython-39.pyc
GPT4All-13B-snoozy.ggml.q4_2.bin
control.log
llm-query.log
*.log
llm-embedding.log.1
llm-embedding.log.2
llm-embedding.log.3
llm-embedding.log.4
llm-embedding.log.5
__pycache__/llm-embedding.cpython-39.pyc
__pycache__/llm-embedding.cpython-39.pyc
__pycache__/llm-embedding.cpython-39.pyc
__pycache__/llm-query.cpython-39.pyc
